*{
    margin: 0;
    padding: 0;
}
body{
    background: url("/toysmall/images/frontEnd/loginbg.jpg")no-repeat 0px -100px;
    background-size: cover;
}
/* 选项卡 */
.login-wrap {
    /* position: absolute; */
    margin: 0 auto;
    width: 350px;
}
.tab-header {
    position: relative;
    width: 350px;
    height: 52px;
    text-align: center;
    margin: 0 auto 20px;
}
.tab-header ul {
    display: inline-block;
}
.tab-header ul li {
    float: left;
    width: 175px;
    height: 50px;
    line-height: 50px;
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #e7e7e7;
    border-top: 2px solid transparent;
}
.tab-header .active {
    background-color: #ffffff;
    border-top: 2px solid #df3033;
    color: #df3033;
}
/* 选项内容 */
.content {
    margin: 10px auto 0;
    width: 350px;
}
.first-content {
    color: green;
}
.tip {
    display: block;
    height: 20px;
    color: #ff1f1f;
    font-size: 12px;
}
/* 控制选项内容的显示隐藏 */
.first-content,
.second-content {
    display: none;
}
.first-content.active,
.second-content.active {
    display: block;
}

.logo{
    margin: 20px auto;
    text-align: center;
}
.logo img{
    width: 350px;
}
.login{
    width: 450px;
    display: block;
    margin: 0 auto;
}
.login-i{
    background: rgba(255, 255, 255, 0.4);
    padding: 8px;
}
.login-i img{
    width: 38px;
    height: 38px;
    float: left;
}
.login-i input{
    background: none;
    padding: 10px 16px;
    display: inline-block;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border: none;
    border-left: 1px solid #fff;
    width: 150px;
    margin-left: 6px;
}
.login-i input::-webkit-input-placeholder {
    color: #ffffff;
}
.login-btn{
    text-align: center;
}
.login-btn input{
    display: inline-block;
    padding: 14px 0;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    outline: none;
    color: #fff;
    background: #ff3366;
    border: 2px solid #ff3366;
    cursor: pointer;
}
.login-btn input:hover{
    transition: all 0.5s ease;
    border: 2px solid #fff;
}

.login-i .btn-code {
    position: absolute;
    display: inline-block;
    margin-top: -4px;
    margin-left: 38px;
    width: 106px;
    height: 46px;
    cursor: pointer;
    border: none;
    background-color: #30b1df;
}
.login-i .btn-code:hover {
    background-color: #46aacd;
}
.login-wrap .register {
    float: right;
    color: #ffffff;
}
/* 屏幕自适应 */
/* 宽度小于1200px */
@media (max-width:1200px){
    body{
        background-size: 1200px 750px;
    }
}
/* 宽度小于600px */
@media (max-width:600px){
    body{
        /*background: url(../images/bg.jpg)no-repeat -100px -160px;*/
        background-size: 900px 775px;
    }
}
