* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.product-wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.product-wrap .product-inner .sort {
    padding: 0 10px;
    letter-spacing: -10px;
    background-color: #e2e2e2;
}
.product-wrap .product-inner .sort a {
    display: inline-block;
    padding: 10px;
    color: #4c4c4c;
    letter-spacing: 0;
    font-size: 12px;
    cursor: pointer;
}
.product-wrap .product-inner .sort a:hover,
.product-wrap .product-inner .sort .sort-select{
    color: #ffffff;
    background-color: #e4393c;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../fonts/glyphicons-halflings-regular.eot');
    src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
        url('../../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-arrow-up:before {
    content: "\e093";
}
.glyphicon-arrow-down:before {
    content: "\e094";
}
.product-box {
    position: relative;
    float: left;
    margin: 10px 8px;
    width: 220px;
    height: 350px;
    border: 1px solid #cecece;
}
.product-box:hover {
    border: 1px solid red;
}
.product-box img {
    padding: 5px 5px 0 5px;
    width: 210px;
    height: 210px;
}
.product-box h3 {
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    color: red;
}
.product-box .pname {
    color: black;
}
.product-box .pname:hover {
    color: red;
}
.product-box p {
    padding: 0 5px;
    font-size: 12px;
}
.product-box div {
    position: absolute;
    padding:  5px;
    bottom: 0;
    width: 210px;
}
.product-box .review {
    font-size: 14px;
    padding: 2px 5px;
    border: 1px solid #c7c7c7;
}
.product-box .review span {
    color: #2383ca;
}
.product-box .sale-count {
    float: right;
    padding: 2px 5px;
    font-size: 14px;
    border: 1px solid #c7c7c7;
}
.product-box .sale-count span {
    color: red;
}
.product-box .review:hover,
.product-box .sale-count:hover {
    border: 1px solid red;
}
.product-wrap .product-inner .noMatch {
    width: 1200px;
    text-align: center;
    font-size: 18px;
}
.back-top {
    position: fixed;
    display: none;
    right: 12px;
    bottom: 10px;
    width: 36px;
    cursor: pointer;
}
.back-top-animation {
    animation: back-animation 1s;
}
@keyframes back-animation {
    0% {bottom: 50px;}
    50% {bottom: 350px;}
    100% {bottom: 600px;}
}
.footer {
    clear: both;
    margin-top: 30px;
}