* {
    margin: 0;
    padding: 0;
}
.cart-wrap {
    width: 1000px;
    margin: 60px auto 0;
}
.cart-wrap .logo {
    margin-bottom: 15px;
}
.cart-wrap .logo img{
    width: 290px;
}
.cart-wrap .content table {
    border-collapse: collapse;
    font-size: 12px;
}
.cart-wrap .content .header td {
    padding: 20px 0;
    background-color: #f3f3f3;
    font-size: 14px;
}
.cart-wrap .content .header .h-select {
    padding-left: 10px;
}
.cart-wrap .content .header .h-select span{
    margin-left: 10px;
}
.cart-wrap .content .select {
    padding-left: 10px;
    width: 120px;
    border-top: 1px solid #cecece;
}
.cart-wrap .content .select .box {
    float: left;
    margin-top: 6px;
}
.cart-wrap .content .select img {
    width: 80px;
    margin: 10px 0 6px 10px;
    border: 1px solid #cecece;
}
.cart-wrap .content .product {
    width: 440px;
    border-top: 1px solid #cecece;
}
.cart-wrap .content .product .p-name {
    float: left;
    width: 300px;
}
.cart-wrap .content .product .p-name a {
    color: #2f2f2f;
}
.cart-wrap .content .product .p-name a:hover {
    color: #f92b36;
    text-decoration: underline;
}
.cart-wrap .content .product .p-color {
    float: left;
    width: 100px;
    color: #2f2f2f;
    padding-left: 20px;
}
.cart-wrap .content .price {
    width: 100px;
    border-top: 1px solid #cecece;
}
.cart-wrap .content .num-wrap {
    width: 110px;
    border-top: 1px solid #cecece;
}
.cart-wrap .content .num-wrap .num-inner {
    position: relative;
    width: 90px;
    height: 33px;
    overflow: hidden;
}
.cart-wrap .content .num-wrap .num-inner .sub {
    position: absolute;
    padding: 3px 5px 3px 4px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #cecece;
}
.cart-wrap .content .num-wrap .num-inner .num {
    position: absolute;
    padding: 3px;
    width: 48px;
    height: 24px;
    left: 15px;
    text-align: center;
    outline: none;
    border: 1px solid #cecece;
}
.cart-wrap .content .num-wrap .num-inner .add {
    position: absolute;
    padding: 3px;
    left: 62px;
    background-color: #ffffff;
    border: 1px solid #cecece;
}
.cart-wrap .content .num-wrap .sub:hover,
.cart-wrap .content .num-wrap .add:hover {
    cursor: pointer
}
.cart-wrap .content .subtotal {
    width: 120px;
    font-weight: 700;
    border-top: 1px solid #cecece;
}
.cart-wrap .content .operating {
    width: 100px;
    border-top: 1px solid #cecece;
}
.cart-wrap .content .operating a {
    color: #696969;
    text-decoration: none;
}
.cart-wrap .content .no-order-item {
    width: 1000px;
    height: 60px;
    font-size: 18px;
    text-align: center;
}
.cart-wrap .content .end td {
    border-top: 1px solid #cecece;
}
.cart-wrap .content .end .total{
    padding-right: 15px;
    text-align: right;
}
.cart-wrap .content .end .count span,
.cart-wrap .content .end .total span{
    color: #df3033;
    font-size: 18px;
    font-weight: 700;
}
.cart-wrap .content .end .btn-submit span{
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #bbbbbb;
    text-align: center;
    text-decoration: none;
    cursor: not-allowed;
}
.footer {
    margin-top: 30px;
}